html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(157, 206, 252);
}

header {
  background-color: rgb(255, 255, 255);
  height: 11%;
  width: 100%;
}
header img {
  height: 90%;
  padding-left: 1%;
  padding-top: 0.2%;
}

iframe {
  width: 90%;
  height: 100%;
  border: none;
}
.video-container {
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

div {
  width: 800px;
  height: 100%;
  display: block;
  background-color: rgb(105, 163, 230);
  overflow-x: auto;
}
h1 {
  width: 90%;
  display: block;
  padding: 0%;
  margin-left: 5%;
}
p {
  margin-left: 5%;
  margin-right: 5%;
}

footer {
  background-color: rgba(194, 233, 255, 0.699);
  height: 50px;
  width: 100%;
}
footer p {
  padding-left: 10px;
  margin-left: 0%;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-left: 0%;
}
li {
  font-weight: bold;
}

@media (max-width: 900px) {
  .MainContent {
    width: 90%;
  }
}

@media (max-width: 250px) {
  header img {
    height: auto;
    width: 90%;
  }
}
